# Ignore Python bytecode cache directories
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Defined Python Files
tempCodeRunnerFile.py 
test.py

# Ignore venv directory
venv/